@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro|Open+Sans&display=swap');
* { margin:0; padding:0; box-sizing: border-box; }

body
{
	color: #096;
	font-family: 'Open Sans', 'Nimbus Sans', sans-serif;
	padding: 12px;
	cursor: default;
	max-width: 800px;
	background-color: #080C0C;
	font-size: 18px;
}


::selection
{
	background-color: chartreuse;
	color: #000;
}


a,
a:visited
{
	text-decoration: none;
	color: #668891;
}

a:hover
{
	border-bottom: 1px solid #096;
}


hr
{
	border: none;
	height: 1px;
	color: #668891;
	background-color: #668891;
}


nav
{
	padding-bottom: 16px;
	font-size: 19px;
	font-family: 'Anonymous Pro', monospace;
}


#index-content h1
{
	padding-left: 2px;
	font-size: 21px;
	font-family: 'Anonymous Pro', monospace;
}

#index-content ul
{
	padding-left: 8px;
	margin-top: 4px;
	margin-bottom: 14px;
	list-style-type: none;
}
